<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DB_Compare.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <DB_Compare.My.MySettings>
            <setting name="DBSource" serializeAs="String">
                <value>iERP86_Test</value>
            </setting>
            <setting name="PasswordSource" serializeAs="String">
                <value>DinosaurP0psicle</value>
            </setting>
            <setting name="ServerSource" serializeAs="String">
                <value>jamee</value>
            </setting>
            <setting name="UserSource" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="DBTarget" serializeAs="String">
                <value>iERP86_Dev</value>
            </setting>
            <setting name="PasswordTarget" serializeAs="String">
                <value>DinosaurP0psicle</value>
            </setting>
            <setting name="ServerTarget" serializeAs="String">
                <value>jamee</value>
            </setting>
            <setting name="UserTarget" serializeAs="String">
                <value>sa</value>
            </setting>
        </DB_Compare.My.MySettings>
    </userSettings>
</configuration>